<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="placesMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Discover Places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="md">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-card *ngFor="let fp of firstPlace; let i = index">
          <ion-card-header>
            <ion-card-title>
              {{ fp.title }}
            </ion-card-title>
            <ion-card-subtitle>
              Rp. {{ fp.price }}.00
            </ion-card-subtitle>
          </ion-card-header>
          <ion-img [src]="fp.imageUrl"></ion-img>
          <ion-card-content>
            <p>{{ fp.description }}</p>
            <ion-button fill="clear" color="primary" [routerLink]="['./', fp.id]">More</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
      <ion-row>
        <ion-col size="12" size-sm="8" offset-sm="2">
          <ion-list>
            <ion-item *ngFor="let place of places | slice:1" [routerLink]="['./', place.id]">
              <ion-thumbnail slot="start">
                <ion-img [src]="place.imageUrl"></ion-img>
              </ion-thumbnail>
              <ion-label>
                <h2>{{ place.title}}</h2>
                <p>{{ place.description}}</p>
              </ion-label>
              <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
