<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/contacts"></ion-back-button>
    </ion-buttons>
    <ion-title>Contact-detail</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="presentAlert()"><ion-icon name="trash" slot="icon-only"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-avatar slot="start">
              <ion-img [src]="loadedContact.imageUrl"></ion-img>
            </ion-avatar>
            <ion-label>
              {{ loadedContact.name }}
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item *ngFor="let mail of loadedContact.email">
              <ion-icon slot="start" name="mail-outline"></ion-icon>
              <ion-label>
                {{mail}}
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-item *ngFor="let phone of loadedContact.phoneNumber">
              <ion-icon slot="start"  name="call-outline"></ion-icon>
              <ion-label>
                {{phone}}
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
<!--      <ion-row>-->
<!--        <ion-col>-->
<!--          <ion-list>-->
<!--            <ion-item *ngFor="let phone of loadedContact.phoneNumber">-->
<!--              <ion-icon name="call-outline"></ion-icon>-->
<!--              {{phone}}-->
<!--            </ion-item>-->
<!--          </ion-list>-->
<!--        </ion-col>-->
<!--      </ion-row>-->
    </ion-grid>
  </ion-card>
</ion-content>

