<!--<ion-header>-->
<!--  <ion-toolbar>-->
<!--    <ion-title>BnB</ion-title>-->
<!--    <ion-buttons slot="start">-->
<!--      <ion-menu-button menu="placesMenu"></ion-menu-button>-->
<!--    </ion-buttons>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!--  menampilkan page discover-->
    <ion-tab-button tab="discover">
      <ion-label>Discover</ion-label>
      <ion-icon name="search-outline"></ion-icon>
    </ion-tab-button>
    <!--  menampilkan page creation-->
    <ion-tab-button tab="offers">
      <ion-label>Offers</ion-label>
      <ion-icon name="card-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
